/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0; /* reset CSS qui permet de supprimer la marge par défaut appliquée par les nav*/
}

body

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEADER *****/
.title {
    display: flex;
    justify-content: space-between;
}

.title img {
    width: 61px;
}

.title .logo-container {
    padding: 30px 0;
}

.title ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.title ul li {
    padding-top: 30px;
}

.title ul li:hover {
    color: #0065FC;
    box-shadow: inset 0px 2px 0 0 #0065FC;    
}

.title ul li:first-child {
    margin-right: 68px;
}

.search-form {
    display: flex;
    max-width: 377px;
}

.location-icon-container {    
    background: #F2F2F2;
    text-align: center;
    border: 1px solid #F2F2F2;
    padding: 16px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location-icon-container i {
    color: black;
}

.search-form button {
    background: #0065FC;
    color: white;
    border: none;
    width: 35%;
    padding: 15px 16px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

.search-form input {
    width: 50%;
    border: 1px solid #F2F2F2;
    padding: 15px 16px;
    box-sizing: border-box;
    font-weight: bold;
}

.search-form input::placeholder{
    color: black;
}

.search-form .icon {
    display: none;
}

.filters {
    list-style: none;
    padding: 0;
    display: flex;
    font-weight: 700;
}

.filters li {    
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px 19px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.filters li i {
    margin-right: 10px;
}
.info {
    gap: 10px;
}
.info i {
    border: 1px solid #D9D9D9;
    border-radius:24px;
    padding: 4px 10px;

}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements h2 {
size: 22px;
}
.hebergements-cards {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width:105%;
}

.hebergements-cards a {
    width: calc(33% - 30px);
}

.hebergements-cards img {
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 250.33px;
    max-height: 124px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.activite {
    margin-top: 30.02px;
    padding: 30px;
    gap: 30px;
}
.activites-cards {
    display: flex;
    flex-direction: row;
    padding-top:25.83px;
    gap: 30px;
}
.activites-cards a {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 380px;
}
.activites-cards article {
    width: 100%;
    border-radius:  20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activites-card img {
    object-fit: cover;
    height: 380px;
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;

}
.activites-card .card-subtitle{
    padding-left: 20px;

}
/******Footer***********/
 footer {
    margin-top: 150px;
    background-color:#F2F2F2;
 }
    .footer {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        gap: 15px;
        justify-content: space-between;
        width: 67%;
    }

    .footer ul{
        list-style-type: none;
        padding-left: 0px;
    }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body .main-container {
        padding: 0;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .title {
        justify-content: center;
        flex-wrap: wrap;
    }

    .title .logo-container {
        display: flex;
        justify-content: center;
    }

    .title ul {
        width: 100%;
    }

    .title ul li:first-child {
        margin-right: 0;
    }

    .title ul li {
        width: 50%;
        padding: 15px 0;
        text-align: center;
        box-shadow:  0px 2px 0 0 #F2F2F2;    
    }

    .title ul li:hover {
        box-shadow: 0px 2px 0 0 #0065FC;    
    }


    .activites-cards {
        flex-wrap: wrap;
    }
    .activites-cards a{
        width: 100%;
        height: auto;
    }

    .populaires-cards {
        flex-wrap: wrap;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards a{
        width: 100%;
    }

    .card img {
        height: 140px;
    }

    .populaires {
        order: -1;
    }

    .hebergements-and-populaires section.hebergements {
        background-color: white;
    }

    .search-form {
        width: 100%;
        max-width: 100%;
    }

    .search-form input {
        width: 100%;
    }

    .search-form button {
        width: 49px;
        border-radius: 15px;
        margin-left: -10px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .search-form .icon {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .search-form .text {
        display: none;
    }

    .filters {
        flex-wrap: wrap;
    }

    .filters li {
        width: calc(50% - 10px);
    }
}